.main-page {
  background-image: url(../Images/CyberPunk4.jpg);
}

.additional-page {
  background-image: url(../Images/CyberPunk3.jpg);
  background-attachment: fixed;
}

.header {
  height: 100px;
  display: flex;
  align-items: center;
  background-color: #000000;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  position: sticky;
  top: 0;
  z-index: 10;
}

.nav {
  display: flex;
  gap: 70px;
  margin-left: 30px;
}

.logo {
  display: flex;
  gap: 10px;
}
.logo__img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-content: center;
  font-size: 25px;
  background: #fff;
}
.logo__name__text {
  align-items: center;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.6823529412);
  font-family: "Arial Black", Gadget, sans-serif;
}
.logo__name__mini-text {
  letter-spacing: 11px;
  font-size: 10px;
  font-weight: 670;
  font-family: Verdana, sans-serif;
  color: #fff;
}

.nav__list {
  display: flex;
  align-items: center;
  gap: 60px;
  font-size: 19px;
}
.nav__list__link {
  text-decoration: none;
  color: #FE7BE5;
  transition: 0.3s;
}
.nav__list__link:hover {
  color: #fddbf7;
  transition: 0.3s;
}
.nav__list__link:active {
  color: rgb(177, 4, 70);
}

.menu {
  position: relative;
}
.menu:hover .categories {
  display: flex;
}

.categories {
  display: none;
  position: absolute;
  background-color: rgba(72, 59, 140, 0.9137254902);
  top: 1px;
  left: 15px;
  height: 360px;
  width: 250px;
  flex-direction: column;
  gap: 25px;
  margin-left: 90px;
  padding-top: 10px;
  font-size: 19px;
  font-weight: 500;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom-left-radius: 25px;
  text-decoration: none;
}
.categories a {
  text-decoration: none;
  color: aqua;
  transition: 0.2s;
  padding-left: 25px;
  line-height: 1.5;
}
.categories a:hover {
  color: white;
  text-decoration: none;
  transition: box-shadow 0.3s;
}
.categories a:hover:hover {
  display: flex;
  text-decoration: none;
  border-radius: 10px;
  background-color: rgba(49, 56, 102, 0.7333333333);
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.879);
  transition: 0.4s;
}

.exposition {
  height: 250px;
  width: 735px;
  margin-left: 5px;
  background-color: rgba(62, 0, 113, 0.3647058824);
  color: #fff;
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  outline: 3px solid #FE7BE5;
}

h1 {
  font-size: 45px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  margin-left: 25px;
  margin-top: 80px;
  padding-top: 15px;
}

h2 {
  font-size: 16px;
  font-weight: 530;
  line-height: 21px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 25px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 70px;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 200px;
  height: 350px;
  background-color: rgba(21, 0, 80, 0.5921568627);
  border: 2px solid black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 0 16px 6px #3F0071;
  transition: 0.2s;
  text-decoration: none;
}
.block:hover {
  transform: scale(1.14);
  transition: 0.4s;
}
.block:active {
  transform: scale(0.95);
}

img {
  height: 300px;
  width: 200px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.name {
  text-align: center;
  margin-top: 6px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: aqua;
}

.films {
  margin-top: 100px;
  margin-bottom: 100px;
}
.films__header {
  text-align: center;
  height: 40px;
  width: 1300px;
  margin: 0 auto;
  padding-top: 8px;
  font-size: 22px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  color: #FE7BE5;
  background-color: rgb(15, 19, 24);
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border: 2px solid #FE7BE5;
}
.films__container {
  display: flex;
  margin-left: 200px;
  gap: 100px;
}
.films__container__sub-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.films__container__sub-container__link-film {
  height: 50px;
  width: 200px;
  text-decoration: none;
  color: aqua;
  text-align: center;
  font-size: 21px;
  background-color: rgba(14, 2, 25, 0.615);
  border: 2px solid black;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 0 16px 6px #3F0071;
  transition: 0.2s;
}
.films__container__sub-container__link-film:hover {
  transform: scale(1.1);
  transition: 0.3s;
}
.films__container__sub-container__link-film:active {
  transform: scale(0.95);
}
.films__container__content {
  margin-top: 30px;
  padding-right: 300px;
  font-size: 17px;
  word-spacing: 2px;
  color: #fff;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  line-height: 20px;
}

.contacts {
  height: 100px;
  width: 350px;
  margin-left: 5px;
  margin-bottom: 80px;
  padding: 40px;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: #fff;
  background-color: rgba(62, 0, 113, 0.4078431373);
  border-top-right-radius: 45px;
  border-bottom-right-radius: 45px;
  outline: 2px solid #FE7BE5;
  padding-top: 20px;
}

.footer {
  height: 20px;
  color: white;
  background-color: black;
}
.footer__text {
  margin-left: 20px;
}

@media screen and (max-width: 800px) {
  .logo__name {
    display: none;
  }
  .nav {
    gap: 20px;
  }
  .nav__list {
    gap: 40px;
  }
  .categories {
    display: block;
  }
  .exposition {
    max-width: 100%;
    width: auto;
    padding-right: 30px;
    padding-bottom: 15px;
    margin-right: 45px;
    height: auto;
  }
  h1 {
    font-size: 37px;
  }
  h2 {
    font-size: 14px;
  }
  .films {
    max-width: 100%;
    width: auto;
  }
  .films__header {
    max-width: 100%;
    width: auto;
  }
  .films__films__container {
    max-width: 100%;
    width: auto;
  }
}/*# sourceMappingURL=styles.css.map */